@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Lora:ital,wght@1,700&family=Merriweather:wght@300&family=Open+Sans:wght@600&family=Roboto:wght@100;300;400&display=swap');
.row h1{
    font-size: 2.5rem;
    font-weight: 400;
}



.td-crumb-container{
    min-height: 35px;
    margin: -7px 0 0 -13px;
    padding-top: 21px; ;

}
.entry-crumbs {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #85898e;
    line-height: 18px;
    padding-top: 1px;
    padding-bottom: 2px;
}
.entry-crumbs a , .td-bred-no-url-last{
    color: #85898e;
    text-decoration: none;
    background-color: transparent;
}
.entry-crumbs a:hover{
    color:#1a73e8;
    
}
.td-bred-no-url-last:hover {
    color:#1a73e8;
}
.entry-crumbs a::after{
    content: '/';
    margin: 0 5px;
    color: #cccccc;
}
.td-bred-no-url-last{
    cursor: pointer;
}
@media (max-width:768px) {
	.td-bred-no-url-last{
        display: none;
    }
    .entry-crumb-unhide{
        display: inline;
    }
}

.blog-main-container{
    padding-left: 24px;
    padding-right: 15px;
}
.blog-container{
    padding: 0;
}
.blog-container .row{
    margin-right: -3px;
    margin-left: -15px;
}
.blog-title h1{
    font-family: 'Lora','Merriweather','Bona Nova', serif;
    line-height: 50px;
    font-size: calc(1.275rem + 1.5vw);
    font-weight: 550;
    color: #545454;
}
@media (max-width:1080px) {
	.blog-title h1{
     line-height: 36px;
    }
    }
@media (max-width:1080px) {
    .blog-title h1{
    margin-top: 3px;
    margin-bottom: 9px; }  
}


.post-author-name{
    font-family: open sans,open sans regular,sans-serif;
    display: inline;
    color: #999999;
    
}
.post-author-name a{
    color: #000;

} 
.post-author-name a:hover{
    color: #1a73e8;
}
.blog-date{
    display: inline;
    color: #999999;
}


.module-meta-info{
    font-size: calc(0.7rem + 0.5vw);
    margin-bottom: 15px;
}

article img{
    margin:15px 0;
}
.main-content{
    max-width: 800px;
    margin: 0 auto;
    /* padding:10px 0 0; */

}
.yt-player{
    width:100%;
    height: 0;
    padding-bottom: 56.25%;
    position:relative;
    
}
.yt-player iframe{
    position: absolute;
    width: 100%;
    height:100%

}

.material-icons:before{
    content: chevron_right;
    
}

.yt-player iframe #document html .ytp-cued-thumbnail-overlay-image{
    display: none;
}

article p  {
    margin:17px 0;
    font-family: 'Bona Nova', serif;
    font-size:1.3rem;
}
article h2{
    font-family: 'Lora','Merriweather','Bona Nova', serif;
    color: #545454;
}
.highlight{
    font-family: 'Merriweather', serif;
    color: crimson;
    font-size: 1rem;
    background-color: rgba(222,222,222,0.3);
}
footer{
    margin-top:20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.blog-post-img img{
    width: 250px;
}
/* .blog-read-more a{
    color:#212529;

} */
.btn-outline-dark a{
	color: #212529!important;
	border-color: #212529!important;
}

.btn-outline-dark a:hover {
	color: #fff!important;
	background-color: #212529!important;
	border-color: #212529!important;
}
.main-row{
    margin: 8%;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
    border-radius:0.5rem ;
}
.blog-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}
.blog-date span{
    color: #962c51;
}
.ul-cls{
    justify-content: center;
}
.ul-cls li{
    cursor:pointer ;
}
.blog-title > h2{
    font-style :normal;
    font-weight: 500;
}
@media (max-width:992px){
    .blog-desc > p{
       margin-bottom: 1rem !important;
       font-size: 1rem;
   }
}
@media (min-width:992px){
    .blog-desc > p{
       margin-bottom: 0.3rem !important;
       font-size: 0.9rem;
   }
   .blog-title > h2{
       margin-bottom: 0 !important;
   }
   .blog-date {
    font-size: 1rem !important;
}
    
}
@media (min-width:1078px) {
   .blog-title > h2{
       font-size: calc(1rem + .6vw)!important;
   }
}
@media (min-width:1200px) {
   .blog-title > h2{
       font-size: calc(1rem + .9vw)!important;
   }
   .blog-desc > p{
       margin-bottom: 0.45rem !important;
        font-size: 1rem;
   }
}
.blog-title > h2{
    font-size: calc(1rem + .7vw);
}
.blog-desc > p{
        margin: 0;
        line-height: 1.6;
         font-size: 1rem;
}
.blog-date{
    font-size: 1.1rem;
}
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        #error-page {
            top: 10%;
            left: 15%;
            right: 15%;
            bottom: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
        }

        #error-page .error-content {
            max-width: 600px;
            text-align: center;
        }

        .error-content h2.error-header {
            font-size: 12rem;
            line-height: 1em;
            position: relative;
        }

        .error-content h2.error-header:after {
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            right: 0;
            background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
            background-size: 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
            animation: animate 10s ease-in-out infinite;
        }

        @keyframes animate {
            0% {
                background-position: 0 0;
            }

            25% {
                background-position: 100% 0;
            }

            50% {
                background-position: 100% 100%;
            }

            75% {
                background-position: 0% 100%;
            }

            100% {
                background-position: 0% 0%;
            }
        }

        .error-content h4 {
            font-size: 1.5em;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #000;
            font-size: 2em;
            max-width: 600px;
            position: relative;
        }

        .error-content h4:after {
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            right: 0;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .error-content p {
            font-size: 1.2em;
            color: #0d0d0d;
        }


       .coming-soon {
            top: 10%;
            left: 15%;
            right: 15%;
            bottom: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
        }

        .coming-soon .coming-soon-content {
            max-width: 600px;
            text-align: center;
        }

        .coming-soon-content h2.coming-soon-header {
            font-size: 5rem;
            line-height: 1em;
            position: relative;
        }

        .coming-soon-content h2.coming-soon-header:after {
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            right: 0;
            background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
            background-size: 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
            animation: animate 10s ease-in-out infinite;
        }

        @keyframes animate {
            0% {
                background-position: 0 0;
            }

            25% {
                background-position: 100% 0;
            }

            50% {
                background-position: 100% 100%;
            }

            75% {
                background-position: 0% 100%;
            }

            100% {
                background-position: 0% 0%;
            }
        }

        .coming-soon-content h4 {
           font-size: 1.7rem;
            margin-bottom: 20px;
            color: #000;
            max-width: 600px;
            position: relative;
        }


/* custom css close */